body {
    background-color: #34495e;
}

.title {
    font-size: 50px;
    text-align: center;
    color: white;
}

a div{
    line-height: 260%;
    width:25%;
    background-color: #bdc3c7;
    margin-left:37%;
    border-radius: 25px;
	opacity: 0.89;
}

#logo{
    display: block;
    margin: auto;
}

div p {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: 1;
}

#joinbutton {
    background-color:#bdc3c7;
    width: 32%;
    height: 1.5em;
    display: block;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}


#firstjoin {
    color: white;
    text-align: center;
}

#firststart {
    color: white;
    text-align: center;
}

#btnspace {
    height: 20%;
}

a {
    text-decoration: none;
}

.firstbox {
    background-color:#bdc3c7;
    width: 40%;
    height: 50%;
    display: block;
    margin: auto;
	border-radius: 20px;
}

.nextPage {
	height: 25%;
    width:20%;
    background-color: #bdc3c7;
	margin-top: 15px;
    border-radius: 25px;
	color: white;
}

.roomname {
  
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
	border-radius: 25px;
}

input {
    width: 95%;
    display: block;
    margin : 0 auto;
    margin-bottom: 5%;
}

#headerbro {
    display: block;
    margin: auto;
    height: 25%;
    background-color: #ecf0f1;
    width: 75%;
    margin-top: 0;
}

#rules{
    margin-top: 30px;
    color: white;
    display: block;
    margin: auto;
    width: 75%;
}

