body {
    background-color: #34495e;
}

#start {
	background-color:#bdc3c7;
    width: 25%;
    height: 40%;
    display: block;
    margin: auto;
}

#startbutton {
    background-color:#bdc3c7;
    width: 15%;
    height: 40%;
    display: block;
    margin-top: 2em;

}

#roomname {
    color: white;
    text-align: center;
}

input {
    width: 95%;
    display: block;
    margin : 0 auto;
    margin-bottom: 5%;
}

#heading {
    font-size: 50px;
    text-align: center;
    color: white;
}

input {
    width: 95%;
    display: block;
    margin : 0 auto;
    margin-bottom: 5%;
}
